---
page: 1
layout: "page"
---

div.info
  h2 
    span I'll show you..
    | How to use these

  dl
    dt Common CSS Selectors
    dd *
    dd >
    dd +

    dt Position pseudo class selectors
    dd :first-child
    dd :last-child
    dd :nth-child(N)
    dd :not(selector)

    dt Content-related pseudo "elements"
    dd :before
    dd :after

    dt Attribute selectors
    dd [attr="..."]
    dd [attr^="..."]
    dd [attr$="..."]
    dd [attr*="..."]

