---
page: 1
layout: "page"
---

h1
  span Navigate by using the keys
  .icon-stack
    i.icon-check-empty.icon-stack-base
    i.icon-long-arrow-left
  | and   
  .icon-stack
    i.icon-check-empty.icon-stack-base
    i.icon-long-arrow-right