---
page: 2
layout: "page"
---

style
  .pt-page h1.github span {
    opacity: 1;
    font-size: 40%;
  }
  h1.github a,
  h1.github a:hover {
    color: inherit;
  }

h1.grandios.github
  span Fork it!
  a(href="https://github.com/jmyrland/Slides") 
    i.icon-github