---
page: 2
layout: "page"
---

style
  .ct-logo{
    background: transparent url(http://codropspz.tympanus.netdna-cdn.com/codrops/wp-content/themes/codropstheme02/images/cs.png) no-repeat 0px 0px;
    width: 187px;
    height: 62px;
    display: inline-block;
    outline: none;
    text-indent: -9000px;
    position: relative;
    top:4px;
  }

h1
  span Fabulous, brilliant and smashing!
  strong design 
  | and 
  strong animations 
  br
  | stolen from 
  a(href="http://tympanus.net/codrops/2013/05/07/a-collection-of-page-transitions/", target="_blank").ct-logo Codrops