---
layout: "page"
---

.code-container
  h2 HTML
  pre.prettyprint.lang-html= content



.result-container
  h2 Result
  .browser-frame
    .browser-header
        .browser-control.close-browser
        .browser-control.drop-browser
        .browser-control.enbiggn-browser
      .browser-content.result
        != content

  //.result!= content